In [1]:
import numpy as np

# 2-D array transposition

In [2]:
a = np.arange(12).reshape(3, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [3]:
np.transpose(a)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [4]:
np.transpose(a, (1, 0))  # == np.transpose(a)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

# 1-D array transposition

In [5]:
b = np.arange(6)
b

array([0, 1, 2, 3, 4, 5])

1-D array, so no need to swap axes

In [6]:
b.transpose()

array([0, 1, 2, 3, 4, 5])

In [7]:
b.shape

(6,)

Convert 1-D array to 2-D array to be a more representative case of transposition

In [8]:
b = b.reshape(1, 6)
b

array([[0, 1, 2, 3, 4, 5]])

In [9]:
b.transpose()

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])

# 3-D array transposition

In [10]:
c = np.arange(24).reshape(4, 3, 2)
c

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])

default axes is the reverse of the original shape

In [11]:
c.transpose()

array([[[ 0,  6, 12, 18],
        [ 2,  8, 14, 20],
        [ 4, 10, 16, 22]],

       [[ 1,  7, 13, 19],
        [ 3,  9, 15, 21],
        [ 5, 11, 17, 23]]])

specify axes to transpose

swap only first and second axes but remain the third axis

In [14]:
c.transpose((1, 0, 2))

array([[[ 0,  1],
        [ 6,  7],
        [12, 13],
        [18, 19]],

       [[ 2,  3],
        [ 8,  9],
        [14, 15],
        [20, 21]],

       [[ 4,  5],
        [10, 11],
        [16, 17],
        [22, 23]]])

In [15]:
c.shape

(4, 3, 2)

In [16]:
c.transpose().shape

(2, 3, 4)

In [17]:
c.transpose((1, 0, 2)).shape

(3, 4, 2)

# property .T

In [18]:
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [20]:
a.T

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [26]:
a.transpose().shape == a.T.shape

True

In [19]:
b

array([[0, 1, 2, 3, 4, 5]])

In [21]:
b.T

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])

In [27]:
b.transpose().shape == b.T.shape

True

In [22]:
c

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])

In [24]:
c.T

array([[[ 0,  6, 12, 18],
        [ 2,  8, 14, 20],
        [ 4, 10, 16, 22]],

       [[ 1,  7, 13, 19],
        [ 3,  9, 15, 21],
        [ 5, 11, 17, 23]]])

In [28]:
c.transpose().shape == c.T.shape

True